@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@view-transition {navigation: auto;}

* {
    margin: 0;
    padding: 0;
}

html {
  scrollbar-gutter: stable;
}

body {
    font: 1.2rem/1.25 "Montserrat", sans-serif;
    color: white;

    --transGrey: rgba(0, 0, 0, 0.5);
    --lightGrey: #bdbdbd;
    --darkGrey: #222;
    --mediumGrey: #525252;
    --orange: #ff7300;
    --softOrange: rgb(231, 147, 78);
    --black: #121212;
    --softWhite: #e0e0e0;

    background-color: var(--black);

    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-size: 3rem;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    align-self: center;
    justify-self: center;

    width: clamp(0px, 1200px, 90vw);
    height: fit-content;

    margin-top: 5rem;
}

header .header-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;

    transition: 0.2s ease;
    text-decoration: none;
    color: white;
}

header .header-name img {
    height: 60px;
    padding-bottom: 5px;
    padding-right: 10px;
}

header .header-name:hover {
    filter: invert(53%) sepia(95%) saturate(3493%) hue-rotate(2deg) brightness(101%) contrast(104%);
}

header .header-nav {
    margin-bottom: 2rem;
}

header .header-nav .nav-link {
    margin-right: 2rem;
}

.smallHeader {
    background-position: bottom;

    padding-top: 5rem;
    font-size: clamp(1.8rem, 10vw, 6rem);
    font-weight: bold;
    height: 25vh;
}

header .titleBobber{
    animation: softBobbing 5s infinite ease-in-out;
}

header .bobber {
    width: 50px;
    height: auto;
    position:absolute;
    bottom: 2rem;
    animation: bobbing 3s infinite ease-in-out;
}

.blogButton {
    margin: 1rem 0;
    transition: 0.1s ease;
}

.blogButton:hover {
    transform: scale(1.05);
}

.article {
    align-self: center;
    justify-self: center;
    width: clamp(0px, 1200px, 90vw);

    display: flex;
    flex-direction: row;

    font-size: 1rem;
    letter-spacing: 0.025rem;
    line-height: 1.7rem;
    color: var(--softWhite);
}

.article .line {
    width: 100%;
    margin: 1rem 0px;
}

.article .small-gap {
    height: 0.5rem;
}

.article .big-gap {
    height: 1.5rem;
}

.article .full {
    max-width: 100%;

    display: flex;
}

.article .centered {
    justify-self: center;
}

.article img {
    max-width: 100%;
    object-fit: contain;
    align-self: flex-start;
}

.article iframe {
    width: 100%;
    object-fit: contain;
    align-self: center;
}

.article-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin: 0;

    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);

    transition: 0.15s ease;
}

.article-date {
    color: var(--lightGrey);
    font-size: 1.25rem;
    margin-bottom: 0;
}

.article li {
    margin-bottom: 1rem;
}

.article h1 {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
}

.article .no-margin {
    margin: 0px;
}

.article h4 {
    color: var(--softOrange);
    font-weight: 1000;
    margin-top: 1rem;
}

.article .thumbnail {
    width: 100%;
    object-fit: cover;
    align-self: center;
    margin: 1rem;
}

.article .blogButton {
    margin: 1rem auto;
}

.article .blogButton img {
    transform: scale(-1);
}

.article a {
    color: var(--softOrange);

    text-decoration: none;
    text-decoration-color: rgba(0, 0, 0, 0);

    transition: 0.2s ease;
}

.article a:hover {
    text-decoration: underline;
    color: var(--orange);
}

/*#region OVERWRITES BOOTSTRAP CARDS */
.cardsContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: -1rem;
    align-items: center;
    padding: 0px;

    height: auto;
}

.cardsContainer h1 {
    text-align: center;
    margin-bottom: 1rem;;
}

.card {
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    border-radius: 0;
    border: none;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.1rem;
}

.card:hover {
    background-color: rgb(22, 22, 22);
}

.card-body {
    padding-top: 0px;
}

.card p {
    color: var(--lightGrey);
    margin-bottom: 0;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin: 0;

    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);

    transition: 0.15s ease;
}

.card:hover .card-title{
    color: var(--orange);
}

.card .card-title:hover {
    text-decoration-color: var(--orange);
}

.card img {
    transition: 0.15s ease;
    height: 300px;
    object-fit: cover;

    background-position: center;
    background-size: cover;
}

.card:hover img {
    transform: scale(1.025);
}

.card .card-tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    margin-top: 5px;
    padding: 10px;
}

.card .card-tag {
  background-color: var(--darkGrey);
  color: var(--lightGrey);

  padding: 3px 6px;
  border-radius: 10px;

  font-size: 1rem;
  display: inline-block;

  transition: 0.15s ease;
}

.card .card-tag:hover {
  background-color: var(--mediumGrey);
  color: white;
}

/*#region INDIVIDUAL GAME DEV CARDS*/
.card .card-iamnotarobot{
    background-image: url("../images/iamnotarobot/iamnotarobot_thmb01.jpg");
}

.card:hover .card-iamnotarobot{
    background-image: url("../images/iamnotarobot/iamnotarobot_thmb02.jpg");
}

.card .card-whalefall{
    background-image: url("../images/whalefall/whalefall_thmb01.jpg");
}

.card:hover .card-whalefall{
    background-image: url("../images/whalefall/whalefall_thmb02.jpg");
}

.card .card-schoolbound{
    background-image: url("../images/schoolbound/schoolbound_thmb01.jpg");
}

.card:hover .card-schoolbound{
    background-image: url("../images/schoolbound/schoolbound_thmb02.jpg");
}

.card .card-campyre{
    background-image: url("../images/campyre/campyre_thmb01.jpg");
}

.card:hover .card-campyre{
    background-image: url("../images/campyre/campyre_thmb02.jpg");
}

.card .card-rot{
    background-image: url("../images/rotGame/rot_thmb01.jpg");
}

.card:hover .card-rot{
    background-image: url("../images/rotGame/rot_thmb02.jpg");
}
/*#endregion INDIVIDUAL GAME DEV CARDS*/

/*#region INDIVIDUAL OTHER PROJECT CARDS*/
.card .card-resolutionFilm{
    background-image: url("../images/resolutionFilm/resolutionFilm_thmb01.jpg");
}

.card:hover .card-resolutionFilm{
    background-image: url("../images/resolutionFilm/resolutionFilm_thmb02.jpg");
}

.card .card-hunterFilm{
    background-image: url("../images/hunterFilm/hunterFilm_thmb01.jpg");
}

.card:hover .card-hunterFilm{
    background-image: url("../images/hunterFilm/hunterFilm_thmb02.jpg");
}
/*#endregion INDIVIDUAL OTHER PROJECT CARDS*/

/* .card:hover .overlay-img {
    transform: translate(-50%, -50%) scale(1.15);
} */

.media .card{
    cursor: pointer;
}
/*#endregion OVERWRITES BOOTSTRAP CARDS */

.community {
    background-image: url("../images/communityImage.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 80vh;
    width: auto;
}

.contact-buttons {
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    transition: 0.2s ease;
}

.contact-buttons a{
    margin: 0 0.5rem;
    text-decoration: none;
}

.contact-buttons img {
    width: auto;
    height: 2rem;

    transition: 0.2s ease;
}

.contact-buttons:hover img{
    filter: brightness(50%);
}

.contact-buttons img:hover {
    filter: brightness(100%) invert(50%) sepia(100%) saturate(1000%) hue-rotate(-30deg);
    transform: scale(1.05);
}

footer {
    margin-top: 20px;
    margin-bottom: 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    align-self: center;
    justify-self: center;
    width: clamp(0px, 1200px, 90vw);
    height: fit-content;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-size: 1rem;
    font: 0.75rem "Source Serif 4", serif;
    color: var(--lightGrey);
}

.copyright p {
    margin: 0;
}

.custom-nav {
    background-color: var(--transGrey);
}

.custom-link {
    color: var(--lightGrey);
}

.current-page {
    color: white;
}

.custom-link:hover {
    color: var(--orange);
}

/* a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--orange);
} */

.arrow {
    width: 2rem;
    height: auto;
    opacity: 50%;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.overlay-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

#focusedOverlay {
    background-color: var(--transGrey);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display:none;
}

#focusedImage{
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    max-height: 90vh;
}

@media (max-width: 767.98px) {
    .article {
        flex-direction: column;
        padding: 0px 1rem;
        width: 100%;
    }

    .article .row {
        flex-direction: column;
    }

    .article .half {
        max-width: 100%;
    }

    .article img {
        max-width: 100%;
        max-height: 450px;
        align-self: center;
    }

    header {
        align-items: center;
        justify-self: center;
        align-self: center;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        height: fit-content;
    }

    header .header-nav {
        align-items: center;
        margin-bottom: 0px;
    }
    
    header .header-nav .nav-link {
      margin-right: 0px;
      margin-bottom: 1rem;
    }

    footer {
        flex-direction: column-reverse;
        justify-self: center;
        align-self: center;
        width: 100%;
    }

    .contact-buttons {
        margin-bottom: 1rem;
        align-items: center;
    }

    .copyright {
        text-align: center;
        align-items: center;
    }
    
    .navbar {
        background-color: transparent;
        transition: 0.1s ease;
        font-size: 2rem;
    }

    .navbar:has(.navbar-collapse.show) {
        background-color: var(--black);
    }

    .smallHeader {
        padding-top: 0;
        height: 20vh;
    }
}

@keyframes bobbing {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); } 
    100% { transform: translateY(0); }
  }

@keyframes softBobbing {
    0% { transform: translateY(0); }
    50% { transform: translateY(-6px); } 
    100% { transform: translateY(0); }
}